.attributes-title
{
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
}

a
{
    font-size: 20px;
    font-family: arial;
}

body
{    
    font-size: 20px;
    font-family: arial;
}